<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>WhyTunes</title>
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <p>
            <input type="text " id="searchBar" name="searchBar">
            <button class="btn btn-success btn-lg" href="/search" role="button">Search tracks</button>
        </p>
    </div>
</div>
</body>
</html>