<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}" ></script>
<head>
    <meta charset="UTF-8">
    <title>View genre</title>
</head>

<body>
<div class="container inner-padded">
    <div class="row justify-content-center align-items-center">
        <h1 class="display-3">Details</h1>
    </div>
    <div class="row">
        <div class="col-sm-6 offset-3">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-body">
                    <h5 class="card-title" th:text="${genre.getGenre()}"></h5>
                    <p class="card-text" th:text="${genre.getName()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>